# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
/_post/.obsidian
/_posts/.obsidian
Gemfile
package-lock.json
Gemfile
Gemfile
_posts/.obsidian.zip

# Local development configuration - DO NOT commit
_config_local.yml
assets/js/memo-token.js
